@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish {
    font-family: "Mulish", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.common-Btn {
    /* padding: 18px 40px 18px 40px; */
    border-radius: 50px;
    background: rgb(121, 125, 252);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.iconBackground {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(3, 7, 18, 0.1);
    border-radius: 50px;
    background: rgba(18, 19, 45, 0.03);

}